<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{%  static 'css/password_change_form.css' %}">
    <style type="text/css">
        .vertical-center{
  text-align: center;
    margin-left:auto;
    margin-right:auto;
}
.menu{
    position: absolute;
    top: 15px;
    right: 15px;
}

    </style>
</head>
<body>
{% load crispy_forms_tags %}

<div class="vertical-center">
    <div class="card-body">
        <h4 class="col"> Change your password</h4>

        <form method="post"   class="btn btn-info" action="{% url 'users:a_change_password' %}">
            {% csrf_token %}
            {{ form|crispy }}

            <button type="submit" class="btn btn-success">Change password</button>

        </form>
            <p>{{pass_change}}</p>

    </div>

</div>

<div class="menu">
    <a href="{% url 'mysite:upload_file' %}" class="btn btn-primary">home</a>

</div>

{% block content %}
{% endblock %}

</body>
</html>